{% extends 'forum/base.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Welcome to Space Forum</h2>
        <p class="card-text">Share your thoughts about space, discuss NASA news, explore conspiracy theories, and much more!</p>
    </div>
</div>
<div class="card mt-4">
    <div class="card-body">
        <h3 class="card-title">Latest Discussions</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="#">NASA's Latest Mars Mission</a></li>
            <li class="list-group-item"><a href="#">Black Holes: Fact or Fiction?</a></li>
            <li class="list-group-item"><a href="#">Moon Landing Conspiracies</a></li>
        </ul>
    </div>
</div>
{% endblock %}
